.inputGroup{padding: 30px 0 20px;box-shadow:none}
.logo{
  width: 20rem;
  margin: 0 auto;
  img{
    width: 100%;
  }
}
.list-group-item{
  width: 100%;
  &:focus{
    outline: none
  }
}
.frame{
  text-align: center;
  white-space: nowrap;
  height: 100%;
  min-height: 720px;
  background: #fbffff;
  &:before{
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -.25em;
  }
}
.loginFrame{
  padding: 0 1rem;
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  white-space: normal;
  margin: 0 auto;
  height: 550px;
  overflow: hidden;
  width: 300px;
  top:0;
  bottom: 0;
}
.btn:focus{outline: none}